$light-green: #26de81;
$dark-green: #20bf6b;
$light-purple: #a55eea;
$purple: #8854d0;
$dark-purple: #5c34ad;
$red: #fc5c65;
$dirty-white: #fbfaff;
$white: #fafafa;
$gray: #e7ebef;
$dark-gray: #a5b1c2;
$blue-gray: #778ca3;
$dark: #212831;
$main-gradient: linear-gradient(133deg, rgba(38,222,129,1) 0%, rgba(136,84,208,1) 100%);
