.btn {
    @include flex-center;
    padding: 0.5rem;
    color: $white;
    background-color: $light-gray;
    border: none;
    border-radius: 5px;
    transition: 0.1s all ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.06);
        background-color: $light-green;
    }
    span {
        font-size: 1.6rem;
        line-height: 1rem;
    }
    svg {
        display: block;
        width: 15px;
        height: 15px;
        margin: 0;
        padding: 0;
    }

    &__red {
        background-color: $dark;
        &:hover {
            transform: scale(1.06);
            background-color: $red;
        }
    }
}